
# ===============================
# ⚙️ Config (React)
# ===============================

**/.env
**/.env.*
!config/.env.local
**/pnpm-lock.yaml

# ===============================
# 🧱 Web (React)
# ===============================

**/node_modules
**/dist
**/build


# ===============================
# 🧠 Backend (Spring Boot)
# ===============================
**/target/
**/build/
**/out/
**/.gradle/
**/.mvn/



backup/