:7000 {

    # -----------------------
    # API 
    # -----------------------
    handle /api/* {
        reverse_proxy api:3000
    }


    # -----------------------
    # Web SPA
    # -----------------------
    handle {
        root * /srv/web
        encode gzip
        file_server
        try_files {path} /index.html
    }
	
    log {
		level ERROR
        format console
    }
}


# -----------------------
# Admin panel
# -----------------------
:7001 {
    root * /srv/admin
    encode gzip
    file_server
    try_files {path} /index.html

    log {
		level ERROR
        format console
    }
}
